*.gcda
*.gcno
*.gcov
*.longbow
*.log
test_longBow_ArrayList
test_longBow_Backtrace
test_longBow_Config
test_longBow_Debug
test_longBow_Fixture
test_longBow_Memory
test_longBow_Main
test_longBow_OpenFile
test_longBow_Report
test_longBow_Runner
test_longBow_Runtime
test_longBow_Status
test_longBow_TestCase
test_longBow_TestCaseClipBoard
test_longBow_Properties
test_longBow_UnitTesting
test_longBow_Empty
test_longBow_File
test_longBow_String
test_longBow_Thread
test_longBow_CommandLineOptions
test_longBow_Expected
test_assertions
test_longBow_Properties
test_longBow_MeasureTime
