metis-*tar.gz
config.cache

.cproject
.project
*.plist
autom4te.cache
*~
.libs
LongBow
include
lib
.DS_Store
*.lo
*.o
*.lo
build/
conf.mk
*.dSYM
*.gcda
*.gcno
*.gcov
*.la
conf.mk
.deps
config.log
config.h
config.status
*.log
*.trs
.dirstamp
Makefile
stamp-h1


*.xcuserdatad
autom4te.cache/
ccnx/forwarder/metis/.libs/
ccnx/forwarder/metis/libmetis.la
libtool
test_metis_StandardPIT
