# Configuration file for HeaderDoc
# $Revision: 1.11 $
###########################################################
# These options set various parameters used in content generation.
copyrightOwner => Copyright (c) 2017 Cisco and/or its affiliates.
defaultFrameName => index.html
masterTOCName => masterTOC.html

# To include information at the top or bottom of every page,
# either include a string in htmlHeader/htmlFooter or a filename
# in htmlHeaderFile or htmlFooterFile
htmlHeader =>
htmlHeaderFile =>
htmlFooter =>
htmlFooterFile =>

# Tells HeaderDoc to suppress the default <style> content in a couple of places.
#suppressDefaultStyles => 1

# You can include additional stylesheet bits with any of the following:
styleSheetExtrasFile => parcstyle.css
# externalStyleSheets => /Resources/CSS/adcstyle.css
# externalTOCStyleSheets => /Resources/CSS/frameset_styles.css
# styleImports => @import "/Resources/CSS/frameset_styles.css";
# tocStyleImports => @import "/Resources/CSS/frameset_styles.css";
#tocStyleImports => @import "/Resources/CSS/adcstyle.css";
