Source: vicn
Section: python
Priority: optional
Maintainer: Jordan Augé <jordan.auge@cisco.com>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools, python3-docutils, python3-sphinx
Standards-Version: 3.9.5
Homepage: https://wiki.fd.io/view/Vicn
Vcs-Git: https://gerrit.fd.io/r/cicn
Vcs-Browser: https://gerrit.fd.io/r/gitweb?p=cicn.git
X-Python3-Version: >= 3.5

Package: python3-netmodel
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-daemon, python3-lockfile, python3-setuptools, python3-pip
Suggests: python-netmodel-doc
Description: Netmodel
 Netmodel

Package: netmon
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-netmodel, bwm-ng
Suggests: netmon-doc
Description: Monitoring
 Monitoring daemon

Package: vicn
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-netmodel
Suggests: vicn-doc
Description: vICN experiment controller
 = vICN
 .
 == Description
 .
 This application is an ICN experimental testbed orchestrator. It allows to
 quickly deploy experiments in a cluster using linux containers, IP tunnels and
 linux kernel tools.
 .
 This tool provides the following features:
 .
 - Physical topology deployment
 - Virtual topology deployment
 - ICN Network setup
 - Management tools
 .
 The architecture of this orchestrator is basically a master-slave architecture.
 The master, vICN, controls the whole cluster of servers, by means of HTTPS REST
 APIs and remote SSH.

