# Copyright (c) 2015,  Cisco Systems
#
# This file is part of the NDN connectivity-manager.
# See AUTHORS.md for complete list of authors and contributors.
#
# This program is free software: you can redistribute it and/or modify it under the terms
# of the GNU General Public License as published by the Free Software Foundation,
# either version 3 of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with
# this program, e.g., in COPYING.md file.  If not, see <http://www.gnu.org/licenses/>.
#
# Author: Mauro Sardara <mauro.sardara@cisco.com>

[Unit]
Description=Http Server using tcp/icn as tranport protocol
#Documentation=man:http-server
Requires=metis-forwarder.service

[Service]
ExecStart=/usr/bin/http-server
Restart=on-failure

[Install]
WantedBy=multi-user.target
