build/
=======
liblongbow*tar.gz
lib
bin
include
*.o
*.lo
*.a
*.la
.libs
a.out
.DS_Store
.gcda
.gcno
.dSYM
autom4te.cache
config.h
config.log
config.status
stamp-h1
*.trs
Makefile
.deps
*.pyc
.dirstamp
*.swp
libtool
*~
.idea
