libparc-*.tar.gz

*.pyc
*.swp
*~

# Object files
*.o
*.lo

# Libraries
.libs
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
=======
LongBow
include
lib
.DS_Store
*.o
build/
conf.mk
*.dSYM
*.gcda
*.gcno
*.gcov
*.a
parc/algol/parc_LibraryVersion.c
conf.mk
.deps
config.log
config.h
config.status
*.log
*.trs
.dirstamp
Makefile
stamp-h1
autom4te.cache

*.xcuserdatad
test_parc_File
test_parc_FileInputStream
test_parc_URIPath
test_parc_URIAuthority
test_parc_URISegment

VERSION

parc/parcLibrary_About.c
parc/parcLibrary_About.h
parc/parc_About.c
parc/parc_About.h
LDADD = ${INC_LFLAGS} 

libtool
*~
